In [ ]:
import numpy as np
a = np.array([11, 22, 33, 44, 55, 66, 77, 88, 99])
a

In [ ]:
a = np.array([11, 22, 33, 44, 55, 66, 77, 88, 99])
a

In [ ]:
a[2]

In [ ]:
import pandas as pd

In [1]:
temp["age"].mean()

NameError: name 'temp' is not defined

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [3]:
import pandas as pd

football = pd.read_csv(url)
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

In [4]:
import pandas as pd

football = pd.read_csv(url)
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [5]:
football.describe(include=['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

In [142]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

# задание 1
# Чему равен средний возраст (Age), футболистов в наборе данных, округлённый до целого?

print(round(football.Age.mean()))

# задание 2
# Каково количество непустых строк в колонке Composure (Хладнокровие) набора данных о футболистах?

print(football.Composure.count())

# задание 3
# Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (ShortPassing), округлённое до второго знака после запятой?

print(round(football.ShortPassing.std(),2))

# задание 4
# Какова сумма заработных плат за год (Wage) в наборе данных о футболистах?

print(football.Wage.sum())

# задание 5
# Какова минимальная стоимость футболиста (Value) в наборе данных о футболистах?

print(football.Value.min())

# задание 1
# Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего? Ответ округлите до сотых.

print(round(football[football.Wage > football.Wage.mean()].SprintSpeed.mean(),2))

# задание 2
# Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых ниже среднего? Ответ округлите до сотых.

print(round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(),2))

# задание 3
# Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

print(football[football.Wage == football.Wage.max()].Position.min())

# задание 4
# Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период, данные о котором представлены в датасете?

print(football[football.Nationality == "Brazil"].Penalties.sum())

# задание 5
# Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50. Ответ округлите до сотых.

print(round(football[football.HeadingAccuracy > 50].Age.mean(),2))

# задание 6
# Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions) превышают 90% от максимального значения, представленного в датасете.

football[(football.Composure > football.Composure.max() * 0.9) &
(football.Reactions > football.Reactions.max() * 0.9)].Age.min()

# задание 7
# Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

print(round(football[football.Age == football.Age.max()].Reactions.mean() / football[football.Age == football.Age.min()].Reactions.mean(),2))

# задание 8
# Из какой страны (Nationality) происходит больше всего игроков, чья стоимость (Value) превышает среднее значение?

print(football[football.Value > football.Value.mean()].Nationality.value_counts().index[0])

# задание 9
# Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) с максимальным значением показателя "Рефлексы" (GKReflexes) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (GKHandling). Ответ округлите до сотых.

print(round(football[(football.Position == "GK") & (football.GKReflexes == football.GKReflexes.max())].Wage.max() / football[(football.Position == "GK") & (football.GKHandling == football.GKHandling.max())].Wage.max(),2))

# задание 10
# Определите, во сколько раз средняя сила удара (ShotPower) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) выше силы удара игроков с минимальной агрессией. Ответ округлите до сотых.

print(round(football[football.Aggression == football.Aggression.max()].ShotPower.mean() / football[football.Aggression == football.Aggression.min()].ShotPower.mean(),2))

25
12897
14.74
96954000
0
67.57
62.41
RF
22789
25.59
1.46
Spain
2.77
2.08

In [278]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

# вопрос 1
# Сколько футбольных клубов представлено в датасете?
print(len(football.Club.unique()))

# вопрос 2
# Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете?
print(football.Club.value_counts().index[-1])

# вопрос 3
# Данные об игроках каких позиций (Position) занимают более 10% датасета?
s = football.Position.value_counts(normalize=True)
print(s.loc[s > 0.1].reset_index())

# вопрос 4
# Данные об игроках каких позиций (Position) занимают менее 1% датасета?

print(s.loc[s < 0.01].reset_index())

# вопрос 5
# В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

print(football.FKAccuracy.value_counts(bins = 5).index[0].left,"~~", football.FKAccuracy.value_counts(bins = 5).index[0].right)

# вопрос 6
# Какие показатели точности ударов ногой демонстрирует большинство футболистов?

print(football.FKAccuracy.value_counts().index[0])

# задание 1
# У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ в виде целого числа (округлите полученный результат) без знака %.

x = football[football.Nationality == 'Spain'].Wage.value_counts(bins = 4).unique()
print(round(x[0] / sum(x),2)*100)

# задание 2
# Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

print(len(football[football.Club == "Manchester United"].Nationality.unique()))

# задание 3
# С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')].Name.reset_index()

# задание 4
# Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет

print(football[football.Age > 35].Club.value_counts().index[0])

# задание 5
# С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

print(football[football.Nationality == 'Argentina'].reset_index().index.value_counts(bins = 4).reset_index())
print(len(football[(football.Age < 41) & (football.Age > 34.75)].index))

# задание 6
# Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

print(round(len(football[(football.Nationality == 'Spain') & (football.Age == 21)].index) * 100 / len(football[football.Nationality == 'Spain'].index),2))

650
Atlético Mineiro
  index  Position
0    GK  0.127239
1    ST  0.117237
2    CB  0.108785
  index  Position
0    LS  0.009382
1    RS  0.008839
2   RWB  0.005428
3   LWB  0.004652
4    CF  0.003954
5    LF  0.000620
6    RF  0.000465
7   LAM  0.000465
8   RAM  0.000388
21.2 ~~ 39.4
32
97.0
13
Club Atlético Huracán
              index    0
0   (429.75, 573.0]  144
1  (-0.574, 143.25]  144
2   (286.5, 429.75]  143
3   (143.25, 286.5]  143
423
11.77

In [149]:
football[football.Nationality == 'Spain']

AttributeError: 'numpy.int64' object has no attribute 'left'

In [323]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'

football = pd.read_csv(url)
football.head()

# задание 1
# Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). Представители какой позиции имеют самую высокую среднюю цену?

print(football.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'], ascending=False))
print(football.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'], ascending=False).head(1))

# задание 2
# Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

t = football.groupby(['Club'])['Wage'].agg(['mean', 'median'])
print(t, t[t['median'] == t['mean']].index)

# задание 1
# С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

print(football.groupby(['Club'])['Wage'].sum()['Chelsea'])

# задание 2
# Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

print(football[(football.Nationality == "Argentina") & (football.Age == 20)].Wage.max())

# задание 3
# Определите максимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

print(football[(football.Nationality == "Argentina") & (football.Age == 30)].Wage.max())

# задание 4
# Определите минимальную зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 30 лет.

print(football[(football.Nationality == "Argentina") & (football.Age == 30)].Wage.min())

# задание 5
# Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ через точку с запятой без пробела.

football[(football.Nationality == "Argentina") & (football.Club == "FC Barcelona")][['Strength','Balance']].max()

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06
             Wage       Value
Position
LF        75125.0  27362500.0
                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns] Index(['1. FC Magdeburg', 'AEK Athens', 'AJ Auxerre', 'Benevento',
       'Bohemian FC', 'Boyacá Chicó FC', 'Bray Wanderers', 'Brøndby IF',
       'CD Feirense', 'CD Tondela', 'Cork City', 'Cruzeiro', 'Deportivo Pasto',
       'Dinamo Zagreb', 'Dundalk', 'Dynamo Kyiv', 'Envigado FC',
       'FC Energie Cottbus', 'FC Metz', 'Grimsby Town', 'Göztepe SK',
       'HJK Helsinki', 'Heracles Almelo', 'IF Brommapojkarna', 'IK Sirius',
       'Itagüí Leones FC', 'Jaguares de Córdoba', 'Jeonnam Dragons',
       'Kaizer Chiefs', 'Kashiwa Reysol', 'Limerick FC', 'Lokomotiv Moscow',
       'Northampton Town', 'Olympiacos CFP', 'Orlando Pirates', 'PAOK',
       'PFC CSKA Moscow', 'Panathinaikos FC', 'Patriotas Boyacá FC',
       'Philadelphia Union', 'Pohang Steelers', 'SK Slavia Praha',
       'Shakhtar Donetsk', 'Shamrock Rovers', 'Sligo Rovers', 'Sparta Praha',
       'Spartak Moscow', 'St. Patrick's Athletic', 'Stade Brestois 29',
       'Sunderland', 'Trelleborgs FF', 'Viktoria Plzeň'],
      dtype='object', name='Club')
2035000
54000
300000
1000

Strength    59
Balance     95
dtype: int64