In [2]:
import datetime
from datetime import datetime, timedelta

# задание 1
# С помощью метода datetime.strptime переведите строку 'May 9 2017 9:00AM' в формат datetime.

date_string1 = 'May 9 2017 9:00AM'
date_string2 = 'May 9 2017 1:00PM'

datetime.strptime(date_string2, '%b %d %Y %I:%M%p')
datetime.strptime(date_string1, '%b %d %Y %I:%M%p')

datetime.datetime(2017, 5, 9, 9, 0)

In [3]:
# задание 2
# Возьмите дату из прошлого шага 'May 9 2017 9:00AM', переведите в формат datetime и прибавьте к ней час с помощью timedelta.

date = datetime.strptime(date_string1, '%b %d %Y %I:%M%p') + timedelta(hours = 1)
date

datetime.datetime(2017, 5, 9, 10, 0)

In [4]:
# задание 3 
# Возьмите результат прошлого упражнения (прибавление часа к 9 мая) и запишите результат в формате '%Y-%m-%d'. Какой будет результат?

date.strftime('%Y-%m-%d')

'2017-05-09'

In [5]:
# задание 4
# Напишите алгоритм, который «пробегает» период 1 до 3 января включительно по часам. Формат вывода '%Y-%m-%d %H:%M:%S'.

startDate_datetime = datetime.strptime('2020-01-01 00:00:00', '%Y-%m-%d %H:%M:%S')
endDate_datetime = datetime.strptime('2020-01-03 23:00:00', '%Y-%m-%d %H:%M:%S')

current_day = startDate_datetime
while current_day <= endDate_datetime:
    print(current_day.strftime('%Y-%m-%d %H:%M:%S'))
    current_day += timedelta(hours=1)

2020-01-01 00:00:00
2020-01-01 01:00:00
2020-01-01 02:00:00
2020-01-01 03:00:00
2020-01-01 04:00:00
2020-01-01 05:00:00
2020-01-01 06:00:00
2020-01-01 07:00:00
2020-01-01 08:00:00
2020-01-01 09:00:00
2020-01-01 10:00:00
2020-01-01 11:00:00
2020-01-01 12:00:00
2020-01-01 13:00:00
2020-01-01 14:00:00
2020-01-01 15:00:00
2020-01-01 16:00:00
2020-01-01 17:00:00
2020-01-01 18:00:00
2020-01-01 19:00:00
2020-01-01 20:00:00
2020-01-01 21:00:00
2020-01-01 22:00:00
2020-01-01 23:00:00
2020-01-02 00:00:00
2020-01-02 01:00:00
2020-01-02 02:00:00
2020-01-02 03:00:00
2020-01-02 04:00:00
2020-01-02 05:00:00
2020-01-02 06:00:00
2020-01-02 07:00:00
2020-01-02 08:00:00
2020-01-02 09:00:00
2020-01-02 10:00:00
2020-01-02 11:00:00
2020-01-02 12:00:00
2020-01-02 13:00:00
2020-01-02 14:00:00
2020-01-02 15:00:00
2020-01-02 16:00:00
2020-01-02 17:00:00
2020-01-02 18:00:00
2020-01-02 19:00:00
2020-01-02 20:00:00
2020-01-02 21:00:00
2020-01-02 22:00:00
2020-01-02 23:00:00
2020-01-03 00:00:00
2020-01-03 01:00:00
2020-01-03 02:00:00
2020-01-03 03:00:00
2020-01-03 04:00:00
2020-01-03 05:00:00
2020-01-03 06:00:00
2020-01-03 07:00:00
2020-01-03 08:00:00
2020-01-03 09:00:00
2020-01-03 10:00:00
2020-01-03 11:00:00
2020-01-03 12:00:00
2020-01-03 13:00:00
2020-01-03 14:00:00
2020-01-03 15:00:00
2020-01-03 16:00:00
2020-01-03 17:00:00
2020-01-03 18:00:00
2020-01-03 19:00:00
2020-01-03 20:00:00
2020-01-03 21:00:00
2020-01-03 22:00:00
2020-01-03 23:00:00

In [10]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data.tsv', sep='\t')
data.head()

def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')


data['datetime'] = data.apply(convert_to_datetime, axis=1)


import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())


data['unixtime'] = data.apply(make_unix_time, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475699e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475287e+09

In [16]:
gd = data.groupby('user_id')
gd['unixtime'].min()
gd['unixtime'].max().index

Int64Index([1010, 1036, 1041, 1042, 1047, 1052, 1057, 1062, 1067, 1078,
            ...
            1383, 1386, 1387, 1388, 1392, 1393, 1394, 1397, 1398, 1424],
           dtype='int64', name='user_id', length=124)

In [17]:
data.groupby('user_id')['unixtime'].max()

user_id
1010    1.475699e+09
1036    1.476038e+09
1041    1.475699e+09
1042    1.475934e+09
1047    1.475693e+09
            ...
1393    1.475721e+09
1394    1.475614e+09
1397    1.475633e+09
1398    1.475697e+09
1424    1.476052e+09
Name: unixtime, Length: 124, dtype: float64

In [128]:
gd = data.groupby('user_id')
gd.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475699e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475287e+09
...,...,...,...,...,...,...,...,...,...,...,...
279,35131,01.10.2016 17:01,1424,0.006759,cpa-partners,food-delivery,1.92,2121,13.8,2016-10-01 17:01:00,1.475330e+09
280,37708,03.10.2016 6:50,1424,0.002778,seo,yandex,0.00,2172,12.8,2016-10-03 06:50:00,1.475467e+09
281,41704,04.10.2016 5:27,1424,0.003843,sem,yandex,0.04,2120,17.2,2016-10-04 05:27:00,1.475548e+09
282,38916,04.10.2016 16:14,1424,0.002778,sem,google,0.09,3943,16.0,2016-10-04 16:14:00,1.475587e+09
283,35511,04.10.2016 18:21,1424,0.003380,email,promo,0.00,4452,14.2,2016-10-04 18:21:00,1.475594e+09

In [130]:
gd['min'] = gd['unixtime'].min()

TypeError: 'DataFrameGroupBy' object does not support item assignment